.button {
    width: 50px;
    height: 50px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ec0d0d;
    font-size: 30px;
    margin: 6px;
    border-radius: 9px;
    border: solid 2px rebeccapurple;
}

.button-light {
    color: black;
    background: gray;
}
.button-dark {
    color: white;
    background: darkgray;
}